body {
    background: url('../img/body_bg.png');
}

/* color */
.white {
    color: #fff;
}
.black {
    color: #000;
}
.yellow {
    color: #eb3;
}
.red {
    color: #e31;
}
.azure {
    color: #3ad;
}
.aqua {
    color: #25c;
}
.orange {
    color: #f73;
}
.green {
    color: #5b6;
}
.purple {
    color: #85c;
}
.bg-white {
    background-color: #fff;
}
.bg-black {
    background-color: #000;
}
.bg-yellow {
    background-color: #eb3;
}
.bg-red {
    background-color: #e31;
}
.bg-azure {
    background-color: #3ad;
}
.bg-aqua {
    background-color: #25c;
}
.bg-orange {
    background-color: #f73;
}
.bg-green {
    background-color: #5b6;
}
.bg-purple {
    background-color: #85c;
}

/* icons */
.icon {
    display: block;
    text-align: inherit;
    margin: 0 auto;
    line-height: 1.2;
    font-family: icons;
    font-size: 28px;
    font-style: normal;
    margin: 15px 0 8px;
}
.icon-home {
    
}
.icon-home::before {
    content: '\f11f';
}
.icon-pokeball {

}
.icon-pokeball::before {
    content: '\f12a';
}
.icon-poketv {

}
.icon-poketv::before {
    content: '\f12c';
}
.icon-joystick {

}
.icon-joystick::before {
    content: '\f121';
}
.icon-card {

}
.icon-card::before {
    content: '\f109';
}
.icon-videogame {

}
.icon-videogame::before {
    content: '\f135';
}
.icon-event {

}
.icon-event::before {
    content: '\f112';
}

/* layouts */
.col-8-1 {
    width: 12.5%;
}
.col-8-2 {
    width: 25%;
}
.col-8-3 {
    width: 37.5%;
}
.col-8-4 {
    width: 50%;
}
.col-8-5 {
    width: 62.5%;
}
.col-8-6 {
    width: 75%;
}
.col-8-7 {
    width: 87.5%;
}
.col-8-8 {
    width: 100%;
}
.col-10-1 {
    width: 10%;
}
.col-10-2 {
    width: 20%;
}
.col-10-3 {
    width: 30%;
}
.col-10-4 {
    width: 40%;
}
.col-10-5 {
    width: 50%;
}
.col-10-6 {
    width: 60%;
}
.col-10-7 {
    width: 70%;
}
.col-10-8 {
    width: 80%;
}
.col-10-9 {
    width: 90%;
}
.col-10-10 {
    width: 100%;
}
.table {
    display: table;
    width: 100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;    
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}

/* gus-nav */
.gus-nav-wrap {
    background-color: #f5f5f5;
    border-bottom: solid 2px #dedede;
}
.gus-nav {
    margin: 0 auto;
    max-width: 930px;
    font-size: 0;
}
.gus-btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    padding: 9px 10px 8px;
    border-left: 0;
    border-right: 0;
}
.gus-active {
    box-shadow: 0 0 7px 0 #666;
    border-left: 0;
    border-right: 0;
    margin: 0;
}
.gus-btn > img {
    vertical-align: bottom;
    max-height: 45px;
}
.gus-btn-border {
    border-left: solid 2px #dedede;
}
.gus-btn-border:last-child {
    border-right: solid 2px #dedede;
}

/* gus sub nav */
.gus-nav-sub-wrap {
    background-color: white;
    border-bottom: solid 2px #dedede;
}
.gus-nav-sub {
    max-width: 930px;
    margin: 0 auto;
    font-size: 0;
}
.gus-btn-sub-wrap {
    display: inline-block;
    vertical-align: bottom;
    width: 14%;
    background-color: #313131;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}
.gus-btn-sub-wrap:first-child {
    border-bottom-left-radius: 8px;
}
.gus-btn-sub-wrap:last-child {
    border-bottom-right-radius: 8px;
}
.gus-btn-sub {
    border-left: 2px solid #222;
    border-bottom-width: 6px;
    border-bottom-style: solid;
    text-align: center;
    height: 87px;
    overflow: hidden;
    cursor: pointer;
}
.gus-btn-sub:hover > .icon {
    color: #fff;
}
.gus-btn-sub-active {

}
.gus-btn-sub-active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
}
.icon-title {
    font-family: "Flexo-Demi",arial,sans-serif;
    font-size: 14px;
    color: white;
    word-break: break-word;
}
.gus-home {
    color: #fff;
}
.gus-home:hover {
    background-color: #dedede;
}
.gus-pokedex {
    color: #e31;
}
.gus-pokedex:hover {
    background-color: #e31;
}
.gus-poketv {
    color: #f73;
}
.gus-poketv:hover {
    background-color: #f73;
}
.gus-minigame {
    color: #eb3;
}
.gus-minigame:hover {
    background-color: #eb3;
}
.gus-cardgame {
    color: #3ad;
}
.gus-cardgame:hover {
    background-color: #3ad;
}
.gus-videogame {
    color: #25c;
}
.gus-videogame:hover {
    background-color: #25c;
}
.gus-pokeevent {
    color: #5b6;
}
.gus-pokeevent:hover {
    background-color: #5b6;
}

/* body */
.body {
    background: url('../img/container_bg.png');
    background-color: #fff;
    max-width: 1280px;
    position: relative;
    margin: 0 auto;
    border-top: 2px solid #dedede;
    padding: 25px 0 16px;
}

/* banner */
.banner {
    max-width: 930px;
    margin: 0 auto;
    background-color: #fff;
    font-size: 0;
}
.col-left-wrap {
    display: inline-block;
    vertical-align: top;
}
.col-left {
    padding: 16px 8px;
}
.col-right-wrap {
    display: inline-block;
    vertical-align: top;
}
.col-right {
    padding: 16px 8px;
}
.section-wrap-v {
    margin: 16px 8px 0;
}
.section-wrap-h {
    margin: 16px 0 16px 8px;
}
.banner-img {
    width: 100%;
    vertical-align: bottom;
}
.banner-title-wrap {
    padding: 0 0 0 16px;
    font-size: 16px;
    background-color: #483f31;
    color: #fff;
    overflow: hidden;
    font-family: "Flexo-Medium",arial,sans-serif;    
}
.banner-title-desc {
    max-width: 398px;
}
.rating-logo {
    float: right;
    right: 0;
    bottom: 0;
    max-width: 148px;
}
.content-card {
    border-radius: 6px;
    overflow: hidden; 
    color: white;
    font-size: 22px;
    font-family: "Flexo-Medium",arial,sans-serif;
    font-weight: 400;    
}
.content-card-img-left {
    float: left;
    max-width: 132px; 
    margin-right: 16px;
}
.content-card-title-right {
    line-height: 1.2;
    word-break: break-word;
    max-width: 132px;
    font-weight: inherit;
}
.content-card-img-top {
    display: block;
    max-width: 100%;
}
.content-card-title-bottom {
    line-height: 1.2;
    word-break: break-word;
    font-weight: inherit;
    padding: 16px;
    margin: 0;
}

/* pokedex */
.dex {
    overflow: hidden;
}
.dex-flag-wrap {
    max-width: 930px;
}
.bold {
    font-weight: 700px;
}