body {
    background: url('../img/body_bg.png');
}

/* icons */
.icon {
    text-align: inherit;
    line-height: 1.2;
    font-family: icons;
    font-size: 28px;
    font-style: normal;
}
.icon-home {
    margin: 15px 0 8px;    
}
.icon-home::before {
    content: '\f11f';
}
.icon-pokeball {
    margin: 15px 0 8px;
}
.icon-pokeball::before {
    content: '\f12a';
}
.icon-poketv {
    margin: 15px 0 8px;
}
.icon-poketv::before {
    content: '\f12c';
}
.icon-joystick {
    margin: 15px 0 8px;
}
.icon-joystick::before {
    content: '\f121';
}
.icon-card {
    margin: 15px 0 8px;
}
.icon-card::before {
    content: '\f109';
}
.icon-videogame {
    margin: 15px 0 8px;
}
.icon-videogame::before {
    content: '\f135';
}
.icon-event {
    margin: 15px 0 8px;
}
.icon-event::before {
    content: '\f112';
}

/* gus-nav */
.gus-nav-wrap {
    background-color: #f5f5f5;
    border-bottom: solid 2px #dedede;
}
.gus-nav {
    margin: 0 auto;
    max-width: 930px;
    font-size: 0;
}
.gus-btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    padding: 9px 10px 8px;
    border-left: 0;
    border-right: 0;
}
.gus-active {
    box-shadow: 0 0 7px 0 #666;
    border-left: 0;
    border-right: 0;
    margin: 0;
}
.gus-btn > img {
    vertical-align: bottom;
    max-height: 45px;
}
.gus-btn-border {
    border-left: solid 2px #dedede;
}
.gus-btn-border:last-child {
    border-right: solid 2px #dedede;
}

/* gus sub nav */
.gus-nav-sub-wrap {
    background-color: white;
    border-bottom: solid 2px #dedede;
}
.gus-nav-sub {
    max-width: 930px;
    margin: 0 auto;
    font-size: 0;
}
.gus-btn-sub-wrap {
    display: inline-block;
    vertical-align: bottom;
    width: 14%;
    background-color: #313131;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}
.gus-btn-sub-wrap:first-child {
    border-bottom-left-radius: 8px;
}
.gus-btn-sub-wrap:last-child {
    border-bottom-right-radius: 8px;
}
.gus-btn-sub {
    border-left: 2px solid #222;
    border-bottom-width: 6px;
    border-bottom-style: solid;
    text-align: center;
    height: 87px;
    overflow: hidden;
    cursor: pointer;
}
.gus-btn-sub:hover > .icon {
    color: #fff;
}
.gus-btn-sub-active {

}
.gus-btn-sub-active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
}
.icon-title {
    font-family: "Flexo-Demi",arial,sans-serif;
    font-size: 14px;
    color: white;
    word-break: break-word;
}
.gus-home {
    color: #fff;
}
.gus-home:hover {
    background-color: #dedede;
}
.gus-pokedex {
    color: #e31;
}
.gus-pokedex:hover {
    background-color: #e31;
}
.gus-poketv {
    color: #f73;
}
.gus-poketv:hover {
    background-color: #f73;
}
.gus-minigame {
    color: #eb3;
}
.gus-minigame:hover {
    background-color: #eb3;
}
.gus-cardgame {
    color: #3ad;
}
.gus-cardgame:hover {
    background-color: #3ad;
}
.gus-videogame {
    color: #25c;
}
.gus-videogame:hover {
    background-color: #25c;
}
.gus-pokeevent {
    color: #5b6;
}
.gus-pokeevent:hover {
    background-color: #5b6;
}

/* body */
.body {
    background: url('../img/container_bg.png');
    background-color: #fff;
    max-width: 1280px;
    position: relative;
    margin: 0 auto;
    border-top: 2px solid #dedede;
    padding: 25px 0 16px;
}

/* banner */
.banner {
    max-width: 930px;
    margin: 0 auto;
    background-color: #fff;
    font-size: 0;
}
.col-left-wrap {
    display: inline-block;
    vertical-align: top;
}
.col-left {
    padding: 16px 8px;
}
.col-right-wrap {
    display: inline-block;
    vertical-align: top;
}
.col-right {
    padding: 16px 8px;
}
.section-wrap-v {
    margin: 16px 8px 0;
}
.section-wrap-h {
    margin: 16px 0 16px 8px;
}
.banner-img {
    width: 100%;
    vertical-align: bottom;
}
.banner-title-wrap {
    padding: 0 0 0 16px;
    font-size: 16px;
    background-color: #483f31;
    color: #fff;
    overflow: hidden;
    font-family: "Flexo-Medium",arial,sans-serif;    
}
.banner-title-desc {
    max-width: 398px;
}
.rating-logo {
    float: right;
    right: 0;
    bottom: 0;
    max-width: 148px;
}
.content-card {
    border-radius: 6px;
    overflow: hidden; 
    color: white;
    font-size: 22px;
    font-family: "Flexo-Medium",arial,sans-serif;
    font-weight: 400;    
}
.content-card-img-left {
    float: left;
    max-width: 132px; 
    margin-right: 16px;
}
.content-card-title-right {
    line-height: 1.2;
    word-break: break-word;
    max-width: 132px;
    font-weight: inherit;
}
.content-card-img-top {
    display: block;
    max-width: 100%;
}
.content-card-title-bottom {
    line-height: 1.2;
    word-break: break-word;
    font-weight: inherit;
    padding: 16px;
    margin: 0;
}

/* pokedex */
.dex {
    overflow: hidden;
}
.dex-title-wrap {
    max-width: 930px;
    text-align: left;
    margin: 100px auto 0;    
}
.chamfer {
    position: absolute;
    display: inline-block;
    width: 4px;
    height: 24px;
    background-color: #fff;
    top: 0;
    left: 0;
}
.chamfer::before {
    content: '';
    position: absolute;
    top: 0;
    right: -4px; /* smaller chamfer than -8px  */
    border-width: 8px;
    border-style: solid;
    border-color: #fff transparent transparent transparent; 
    width: 0;
    height: 0;
}
.chamfer::after {
    content: '';
    position: absolute;
    bottom: -8px;
    right: 0;
    border-width: 4px;
    border-style: solid;
    border-color: #fff transparent transparent #fff; 
    width: 0;
    height: 0;
}
.dex-title {
    padding: 8px 16px;
    display: inline-block;
    position: relative;
}
.dex-title::after {
    content: '';
    position: absolute;
    top: 0px;
    right: -4px;
    border-width: 4px;
    border-style: solid;
    border-color: #fff transparent transparent transparent; 
    width: 0;
    height: 0;
}
.dex-gallery-wrap {
    overflow: hidden;
}
.dex-gallery {
    white-space: nowrap;
    font-size: 0;
}
.dex-card-wrap {
    width: 250px;
    overflow: hidden;
}
.dex-card {
    border-width: 2px 1px 0;
    border-style: solid;
    border-color: #000;
    position: relative;
}
.dex-card::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, .2);
}
.dex-card > .dex-desc h6 {
    display: none;
}
.active {
    width: 360px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.active > .dex-card > .dex-desc h6 {
    display: block;
}
.active > .dex-card::after {
    display: none;
}
.active .dex-id {
    font-size: 140px;
}
.dex-avatar-wrap {
    background-color: #555;
    padding: 16px;
    overflow: hidden;
    position: relative;    
}
.dex-id {
    color: #999;
    font-size: 120px;
    text-align: center;
    font-family: "Flexo-Bold",arial,sans-serif;
    height: 250px;
    line-height: 250px;
    margin: 0;
}
.dex-avatar {
    position: absolute;
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.dex-desc {
    font-size: 0;
}
.dex-desc-cols {
    /* s */
    font-family: "Flexo-Medium",arial,sans-serif;
    font-size: 16px;
}
.dex-desc-cols > h5,
.dex-desc-cols > h6 {
    margin: 16px 8px;
}
.white-bottom-border {
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

/* footer */
.footer {
    font-size: 0;
}
.company-wrap {
    font-size: 14px;
}
.company {
    margin: 0 0 0 auto;
    padding: 0 0 0 24px;
    max-width: 300px;
    border-right: 2px solid #000;
}
.company-title {
    margin: 16px auto;
    font-size: 22px;
    font-family: "Flexo-Medium",arial,sans-serif;
}
.footer-link-wrap {
    margin: 16px auto;
}
.footer-link {
    margin: 8px 0;
    font-family: "Roboto",arial,sans-serif;
    font-weight: 700;
}
.footer-link::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;

    /*
     * vertical-align: middle aligns the center of the inline boxes to the cross point of char 'x' 
     * align the center of the triangle to the container's midline instead of cross point of char 'x'
    */
    vertical-align: middle;
    margin-top: -.5ex; 

    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent transparent #999;
}
.share-wrap {
    font-size: 14px;
}
.share {
    padding: 0 12px;
}
.share-title {
    margin: 24px 0 8px 8px;
}
.share-links-wrap {
    font-size: 0;
    margin: 8px 0 8px 8px;    
}
.share-link {
    width: 34px;
    height: 34px;
    margin: 8px 6px;
    background-repeat: no-repeat;
    border-radius: 4px;
}
.facebook {
    background: url('../img/social-icons.png');
}
.youtube {
    background: url('../img/social-icons.png');
    background-position: -175px 0;
}
.twitter {
    background: url('../img/social-icons.png');
    background-position: -70px 0;
}
.ins {
    background: url('../img/social-icons.png');
    background-position: -210px 0;
}
.tumblur {
    background: url('../img/social-icons.png');
    background-position: -140px 0;
}
.trademarks-wrap {
    font-size: 14px;
}
.trademarks {
    margin: 16px 0;
    padding: 0 24px;
    border-left: 2px solid #000;    
}
.placeholder {
    margin: 36px 0;
    overflow: hidden;
}
.cert-wrap {
    overflow: hidden;
    margin: 0;
}
.cert-img {
    float: left;
    margin-right: 24px;
}
.privacy {
    text-decoration: underline;
    font-size: 12px;
}
.reservation {
    font-size: 12px;
    font-weight: 400;
}
.flag-icon {
    width: 10px;
    height: 8px;
    background: url('../img/flags.png');
    background-repeat: no-repeat;
    background-position: -12px -22px;
    background-size: initial;
    position: absolute;
    margin: 4px 8px;
}